@import url("https://fonts.googleapis.com/css?family=Oswald");

div.contact-outer-container {
    padding: 50px 0;
    text-align: center;

    background-image: url("../../images/backgrounds/cactus-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
}

div.contact-outer-container div.contact-container {

}

div.contact-outer-container div.contact-container img {
    width: 75%;
}

div.contact-outer-container div.contact-container div.contact-explicit-details {

}
